<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orz.kassy.c86_android" >

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".DeviceScanActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".DeviceControlActivity"/>

        <service android:name=".BluetoothLeService" android:enabled="true"/>

        <service
            android:name=".MyNotificationListenerService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".WifiEventReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.wifi.RSSI_CHANGED" >
                </action>
            </intent-filter>
        </receiver>

        <service
            android:name=".BleScanService"
            android:label="@string/service_name">
        </service>

        <receiver
            android:name=".AndroidAlarmReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.android.deskclock.ALARM_ALERT" >
                </action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
